body {
        background-color: #FEFAE0 !important;     
}


h1,
h2,
h3,
h4,
h5,
h6 {
        font-family: 'Playfair Display', serif !important;
        color: #BC6C25;
        margin-top: 3%;
        margin-bottom: 3%;

}

p {
        font-family: 'Lato', sans-serif !important;
        color: #606C38;
        margin-top: 3%;
        margin-bottom: 4%;

}

/*  NAV BAR */

/* text style for the nav bar(hover) */
.w3-hover-theme:hover {
        color:#bc6c25!important; 
        background-color:#bc6c25 !important;
}

.w3-hover-text-theme:hover {
        color:#bc6c25 !important;
}

.w3-hover-border-theme:hover {
        border-color:#bc6c25 !important;
}

.w3-border-bottom {
        border-bottom: 2px solid  #FEFAE0 !important;
}


.w3-bar-item{
        font-family: 'Playfair Display', serif !important;
        color: #606C38!important;
        font-size: 16px;
        font-weight: bold;
}


.logo{
        color:#bc6c25!important;
        font-size: 20px;

}


     /* cover  image section */
      .image-container {
        position: relative;
        display: inline-block;
        }

         .image-container img {
        display: block;
        width: 100%;
        height: auto;
        }


/* HEADER  */

.img-title {
        position: absolute;
        font-family: 'Playfair Display', serif !important;
        font-size: 3.5vw;
        color: #606C38 !important;
        /* font-size: 35px !important; */
        text-align: center;
        left: 45%;
        right: 5%;
        top: 26%;
        /* letter-spacing: 3px; */
}

.img-title2 {
        position: absolute;
        font-family: 'Playfair Display', serif !important;
        color: #606C38 !important;
        font-size: 35px !important;
        text-align: left;
        left: 5%;
        right: 56%;
        top: 20%;
        /* letter-spacing: 3px; */
}



/* Cover img text Responsive  */


@media screen (max-device-width: 600px) {
        .img-title {
                font-size: 18px !important;
                left: 45%;
                right: 5%;
                top: 9%;
        }
        .img-title2 {
                font-size: 15px !important;

        }
}

@media screen and (min-device-width: 460px) and (max-device-width: 500px) {
        .img-title {
                font-size: 16px !important;
                left: 45%;
                right: 5%;
                top: 13%;
        }
        .img-title2 {
                font-size: 15px !important;

        }
}



@media screen and (min-device-width: 370px) and (max-device-width: 460px) {
        .img-title {
                font-size: 15px !important;
                left: 45%;
                right: 5%;
                top: 10%;
        }

        .img-title2 {
                font-size: 15px !important;

        }
}


@media screen and (min-device-width: 300px) and (max-device-width: 370px) {
        .img-title {
                font-size: 12px !important;
                left: 48%;
                right: 5%;
                top: 10%;
        }

        .img-title2 {
                font-size: 15px !important;
        }
}


/* The smallest size  */
@media screen and (min-device-width: 250px) and (max-device-width: 300px) {
        .img-title {
                font-size: 10px !important;
                left: 47%;
                right: 5%;
                top: 25%;
        }

        .img-title2 {
                font-size: 15px !important;
        }
}



/* Responsive text size of the NAV BAR  */

@media screen and (min-device-width: 450px) and (max-device-width: 550px) {

        .w3-bar .w3-bar-item {
                padding: 8px 9px;
                font-size: 13px;
        }
}

@media screen and (min-device-width: 250px) and (max-device-width: 450px) {

        .w3-bar .w3-bar-item {
                padding: 8px 8px;
                font-size: 10px;
        }
}


                /* FOOTER  */

/* Footer not responsive on smaller devices need to be aligned more; */
.footer {
        width: 100%;
        padding: 8px 8px;
        flex-wrap: wrap;
        gap: 5px;
        overflow: hidden;
}

.footer p {
        font-size: 13px;
        margin: 10px 10px;
}


.footer ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        text-align: right;
        float: right;
        margin: 20px;
        padding-top: 20%;
        align-items: center;
}

.footer-social li {
        align-items: center;
        cursor: pointer;
}

.footer-social li img {
        width: 25px;
        height: 25px;
        align-items: center;
        object-fit: contain;
}

.fa {
        color: #606C38;
        text-decoration: none;
}
.fa:hover {
        color: #BC6C25;
      }

.link{
        text-decoration: none;
        color: #BC6C25;
}

.link:hover{
        color: #606C38;

}


.copyright {
        padding-top: 7%;        

}

@media screen  and (min-device-width: 461px) and (max-device-width: 530px)   {
        p.copyright{
                padding-top: 14%;         
        }       
}

@media screen  and (min-device-width: 530px) and (max-device-width: 725px)   {
        p.copyright{
                padding-top: 10%;         
        }       
}

@media screen  and (min-device-width: 725px) and (max-device-width: 900px)   {
        p.copyright{
                padding-top: 9%;         
        }       
}



                /* HOME PAGE */

/* SERVICES section */

.service-img {
        margin-top: 2%;
        margin-bottom: 2%;
}

div.container {
        margin-top: 3%;
}

/* hover on the service list */
.service.w3-hover-text-theme:hover {
        color: #606C38 !important;
}



                /* TESTIMONIALS  section */

.testimonials {
        background-color: #606C38;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
}

.carousel-item {
        margin-bottom: 3%;
}

/* find another solutions to have  text colour aplies in one section */
.testimonials p {
        color: #FEFAE0;
}

.testimonials h1 {
        color: #FEFAE0;
}

.testimonials h6 {
        color: #FEFAE0;
}

/* Testimonials arrows not overlapping and responsive  */
@media screen and (min-device-width: 250px)  and (max-device-width: 670px)  {
       .carousel-inner{
        padding-left: 20%;
        padding-right: 20%;
        font-size: 13px;
        }
}





                /* CONTACT US  PAGE */

.form {
        width: 800px;
        height: 440px;
        background: #FEFAE0;
        border-radius: 8px;
        box-shadow: 0 #606C38;
        margin: 50px;
        padding: 20px 30px;
        max-width: calc(100vw - 50px);
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        position: relative;

}

h2 {
        margin: 10px 0;
        font-family: 'Playfair Display';
        padding-bottom: 10px;
        width: 200px;
        color: #606C38;
        border-bottom: 2px solid #606C38;
        font-size: 30px;
}

input {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 0px;
        background: #FEFAE0;
        opacity: 0.5;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Lato', sans-serif;
        border-bottom: 2px solid #606C38;
}

p.form-input:before {
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: #606C38
}

button.form-btn {
        float: right;
        border-radius: 0px;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Lato', sans-serif;
        border: 2px solid #606C38;
        color: #FEFAE0;
        background: #606C38;
        cursor: pointer;
        transition: all .3s
}

button.form-btn:hover {
        background: #BC6C25;
        border: 2px solid #BC6C25;
}

button2 {
        float: center;
        border-radius: 0px;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Lato', sans-serif;
        border: 2px solid #BC6C25;
        color: #FEFAE0;
        background: #BC6C25;
        cursor: pointer;
        transition: all .3s
}

button2:hover {
        background: #606C38;
        border: 2px solid #606C38;
}

span {
        margin: 0 15px 0 15px
}

